<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abnormality.abnormalityaccept.mapper.AbnormalityMapper">

    <resultMap id="Base_Abnormality_List" type="com.abnormality.abnormalityaccept.entity.Abnormality">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="description" column="description"/>
        <result property="manageMethod" column="manage_method"/>
        <result property="notes" column="notes"/>
        <result property="facilityId" column="facility_id"/>
        <result property="imgName" column="img_name"/>
    </resultMap>

    <sql id="Base_Abnormality">
        id,name,level,description,manage_method,notes,facility_id,img_name
    </sql>

    <select id="findAllAbnormality" resultMap="Base_Abnormality_List">
        select
        <include refid="Base_Abnormality"/>
        from abnormality
    </select>

    <select id="findAbnormalityById" resultMap="Base_Abnormality_List">
        select
        <include refid="Base_Abnormality"/>
        from abnormality
        where id = #{id}
    </select>

    <insert id="addAbnormality">
        insert into abnormality(name,level,description,manage_method,notes,facility_id,img_name)
        values(#{name},#{level},#{description},#{manageMethod},#{notes},#{facilityId},#{imgName})
    </insert>

    <update id="updateAbnormality">
        update abnormality
        set name = #{name},
        level = #{level},
        description = #{description},
        manage_method = #{manageMethod},
        notes = #{notes},
        facility_id = #{facilityId}
        img_name = #{imgName}
        where id = #{id}
    </update>

    <!-- 多条件查询优化 -->
    <select id="findAbnormalityByConditions" resultType="com.abnormality.abnormalityaccept.entity.Abnormality">
    SELECT * FROM abnormality
    <where>
        <if test="id != null">AND id LIKE CONCAT('%', #{id}, '%')</if>
        <if test="name != null and name != ''">AND name LIKE CONCAT('%', #{name}, '%')</if>
        <if test="level != null">AND level = #{level}</if>
        <if test="facilityId != null">AND facility_id LIKE CONCAT('%', #{facilityId}, '%')</if>
        <if test="description != null">AND descriotion LIKE CONCAT('%',#{description},'%')</if>
        <if test="manageMethod !=null">AND manageMethon LIKE CONCAT('%'#{manageMethod},'%') </if>
        <if test="minLevel != null"> AND level>= minLevel </if>
        <if test="maxLevel !=null"> AND level &lt;= maxLevel </if>
    </where>
    </select>

</mapper>