<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abnormality.abnormalityaccept.mapper.EmailMapper">
    <resultMap id="Email_Base_Data" type="com.abnormality.abnormalityaccept.entity.Email">
        <id property="id" column="id" />
        <result property="state" column="state" />
        <result property="senderId" column="sender_id" />
        <result property="senderName" column="sender_name" />
        <result property="receiverId" column="receiver_id" />
        <result property="receiverName" column="receiver_name" />
        <result property="theme" column="theme" />
        <result property="content" column="content" />
        <result property="sendTime" column="send_time" />
    </resultMap>
    <sql id="Base_Column_List">
        id, state, sender_id, sender_name , receiver_id, receiver_name, theme, content, send_time
    </sql>
    <select id="findAllEmail" resultMap="Email_Base_Data">
        SELECT
        <include refid="Base_Column_List" />
        FROM email
        WHERE receiver_id = #{receiverId}
    </select>

    <select id="findEmailByTheme" resultMap="Email_Base_Data">
        SELECT
        <include refid="Base_Column_List" />
        FROM email
        WHERE receiver_id = #{receiverId} and theme like concat('%',#{theme},'%')
    </select>

    <select id="findEmailBySenderId" resultMap="Email_Base_Data">
        SELECT
        <include refid="Base_Column_List" />
        FROM email
        WHERE  receiver_id = #{receiverId} AND  sender_id = #{senderId}
    </select>

    <select id="findEmailById" resultMap="Email_Base_Data">
        SELECT
        <include refid="Base_Column_List" />
        FROM email
        WHERE  receiver_id = #{receiverId} AND  id = #{id}
    </select>

    <insert id="addEmail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO email(state, sender_id, sender_name, receiver_id, receiver_name, theme, content, send_time) VALUES (0, #{senderId}, #{senderName}, #{receiverId}, #{receiverName}, #{theme}, #{content}, #{sendTime})
    </insert>


    <delete id="deleteEmailById">
        DELETE FROM email WHERE id = #{id} AND receiver_id = #{receiverId}
    </delete>


    <update id="updateEmailState">
        UPDATE email SET state = #{state} WHERE id = #{id} AND receiver_id = #{receiverId}
    </update>

    <update id="readAllEmail">
        UPDATE email SET state = 1 WHERE receiver_id = #{receiverId}
    </update>

</mapper>