<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abnormality.abnormalityaccept.mapper.FacilityMapper">
    <resultMap id="Base_Facility_List" type="com.abnormality.abnormalityaccept.entity.Facility">
        <id property="id" column="id"/>
        <result property="level" column="level"/>
        <result property="managerId" column="manager_id"/>
        <result property="managerName" column="manager_name"/>
        <result property="facilityName" column="facility_name"/>
        <result property="facilityAddress" column="facility_address"/>
        <result property="isActive" column="is_active"/>
    </resultMap>

    <sql id="Base_Facility">
        id, level,manager_id, manager_name, facility_name, facility_address, is_active
    </sql>

    <select id="findAllFacility" resultMap="Base_Facility_List">
        SELECT
        <include refid="Base_Facility"/>
        FROM facility
    </select>

    <select id="findFacilityById" resultMap="Base_Facility_List">
        SELECT
        <include refid="Base_Facility"/>
        FROM facility
        WHERE id = #{id}
    </select>

    <insert id="addFacility">
        INSERT INTO facility(id, level,manager_id, manager_name, facility_name, facility_address, is_active)
        VALUES(#{id}, #{level}, #{managerId}, #{managerName}, #{facilityName}, #{facilityAddress},1)
    </insert>

    <update id="updateFacility">
        UPDATE facility
        SET id = #{name},
            level = #{level},
            manager_id = #{managerId},
            manager_name = #{managerName},
            facility_name = #{facilityName},
            facility_address = #{facilityAddress}
            is_active = #{isActive}
        WHERE id = #{id}
    </update>

    <update id="deleteFacilityById">
        UPDATE facility
        SET is_active = 0
        WHERE id = #{id}
    </update>

    <select id="findFacilityByConditions" resultMap="Base_Facility_List">
        SELECT
        <include refid="Base_Facility"/>
        FROM facilitiy
        <where>
            <if test="id !=null and "> AND id LIKE CONCAT('%', #{id}, '%')</if>
            <if test="facilityName != null and facilityName != ''">
                AND name LIKE CONCAT('%', #{facilityName}, '%')
            </if>
            <if test="level != null and level != ''">AND level = #{level} </if>
            <if test="managerId != null"> AND manager_id LIKE CONCAT('%', #{managerId}, '%')</if>
            <if test="managerName != null and managerName != ''">
                AND manager_name LIKE CONCAT('%', #{managerName}, '%')
            </if>
            <if test="facilityAddress != null and facilityAddress != ''">
                AND facility_address LIKE CONCAT('%', #{facilityAddress}, '%')
            </if>

        </where>

    </select>


</mapper>