<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abnormality.abnormalityaccept.mapper.QuestMapper">
    <resultMap id="BaseQuestResultMap" type="com.abnormality.abnormalityaccept.entity.Quest">
        <id property="id" column="id"/>
        <result property="questCode" column="quest_code"/>
        <result property="questName" column="quest_name"/>
        <result property="questLevel" column="quest_level"/>
        <result property="resolvingByTeamId" column="resolving_by_team_id"/>
        <result property="resolvingByTeamName" column="resolving_by_team_name"/>
        <result property="questDescription" column="quest_description"/>
        <result property="state" column="state"/>
    </resultMap>

    <!-- 基础字段片段，复用查询 -->
    <sql id="BaseQuestColumns">
        id, quest_code, quest_name, quest_level, resolving_by_team_id,resolving_by_team_name, quest_description, state
    </sql>

    <!-- 查询所有任务 -->
    <select id="findAllQuest" resultMap="BaseQuestResultMap">
        SELECT
        <include refid="BaseQuestColumns"/>
        FROM quest
    </select>

    <!-- 根据ID查询任务 -->
    <select id="findQuestById" resultMap="BaseQuestResultMap">
        SELECT
        <include refid="BaseQuestColumns"/>
        FROM quest
        WHERE id = #{id}
    </select>

    <!-- 添加任务 -->
    <insert id="addQuest">
        INSERT INTO quest (quest_code, quest_name, quest_level, resolving_by_team_id, resolving_by_team_name, quest_description, state)
        VALUES (#{questCode}, #{questName}, #{questLevel}, #{resolvingByTeamId}, #{resolvingByTeamName}, #{questDescription}, #{state})
    </insert>

    <!-- 更新任务 -->
    <update id="updateQuest">
        UPDATE quest
        SET quest_code = #{questCode},
            quest_name = #{questName},
            quest_level = #{questLevel},
            resolving_by_team_id = #{resolvingByTeamId},
            resolving_by_team_name = #{resolvingByTeamName},
            quest_description = #{questDescription},
            state = #{state}
        WHERE id = #{id}
    </update>

    <!-- 根据ID删除任务 -->
    <delete id="deleteQuestById">
        DELETE FROM quest
        WHERE id = #{id}
    </delete>

    <!-- ============== 拓展方法实现 ============== -->

    <!-- 条件查询任务 -->
    <select id="findQuestByConditions" resultMap="BaseQuestResultMap">
        SELECT
        <include refid="BaseQuestColumns"/>
        FROM quest
        <where>
            <if test="id!=null ">AND id LIKE CONCAT('%',#{id},'%') </if>
            <if test="questCode != null and questCode != ''">
                AND quest_code LIKE CONCAT('%', #{questCode}, '%')
            </if>
            <if test="questName != null and questName != ''">
                AND quest_name LIKE CONCAT('%', #{questName}, '%')
            </if>
            <if test="questLevel != null">
                AND quest_level = #{questLevel}
            </if>
            <if test="questDescription != null and questDescription != ''">
                AND quest_description LIKE CONCAT('%', #{questDescription}, '%')
            </if>
            <if test="resolvingByTeamName !=null and resolvingByTeamName != ''">
                AND resolving_by_team_name LIKE CONCAT('%',{resolvingByTeamName},'%')
            </if>
            <if test="resolvingByTeamId != null">
                AND resolving_by_team_id LIKE CONCAT('%',{resolvingByTeamId},'%')
            </if>
            <if test="state != null ">
                AND state = #{state}
            </if>

            <!-- 多值查询 -->
            <if test="stateList != null and stateList.size()>0"> AND state IN
                <foreach collection="stateList" item="state" open="(" separator="," close=")">
                    #{state}
                </foreach>
            </if>

            <!-- 范围查询 -->
            <if test="minQuestLevel != null">
                AND quest_level >= #{minQuestLevel}
            </if>
            <if test="maxQuestLevel != null">
                AND quest_level &lt;= #{maxQuestLevel}
            </if>

        </where>
    </select>



</mapper>