<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abnormality.abnormalityaccept.mapper.UserMapper">
    <resultMap id="Base_User_List" type="com.abnormality.abnormalityaccept.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="level" column="levle"/>
        <result property="teamName" column="team_name"/>
        <result property="inviterId" column="inviter_id"/>
        <result property="leaderId" column="leader_id"/>
        <result property="facilityId" column="facility_id"/>
        <result property="introduction" column="introduction"/>
        <result property="isActive" column="is_active"/>

    </resultMap>

    <sql id="Base_User">
        id,username,password,email,level,team_name,inviter_id,leader_id,facility_id,introduction,is_active
    </sql>

    <select id="findAllUser" resultMap="Base_User_List">
        select
        <include refid="Base_User"/>
        from user
        where level &lt;= #{level} and isActive = 1

    </select>

    <select id="findUserById" resultMap="Base_User_List">
        select
        <include refid="Base_User"/>
        from user
        where id=#{id} and isActive = 1
    </select>


    <insert id="addUser" parameterType="com.abnormality.abnormalityaccept.entity.User">
        INSERT INTO user (
            username,
            password,
            email,
            level,
            team_name,
            level,
            team_name,
            inviter_id,
            leader_id,
            facility_id,
            introduction,
            isActive
        )
        VALUES (
                     #{user.username},
                     #{user.password},
                     #{user.email},
                     #{user.level},
                     #{user.teamName},
                     #{user.inviterId},
                     #{user.leaderId},
                     #{user.facilityId},
                     #{user.introduction},
                     1
                 )
    </insert>
    <!-- 删除用户 -->
    <update id="deleteUserById">
        update user
        set isActive = 0
        where id = #{id}
    </update>
    <!-- 修改用户 -->
    <update id="updateUser">
        update user
            set username = #{username},
            email = #{email},
            level = #{level},
            facility_id = #{facilityId},
            introduction = #{introduction}
        where id = #{id} and isActive = 1
    </update>
    <!-- 专门修改密码 -->
    <update id="updatePassword">
        update user
        set password = #{newPassword}
        where id = #{userId}
    </update>

    <select id="findUserByConditions" resultType="com.abnormality.abnormalityaccept.entity.User">
        SELECT * FROM user
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="username != null and username != ''">AND username LIKE CONCAT('%', #{username}, '%')</if>
            <if test="email != null and email != ''">AND email = #{email}</if>
            <if test="level != null">AND level = #{level}</if>
            <if test="facilityId != null">AND facility_id = #{facilityId}</if>
            isActive = 1
        </where>
    </select>

</mapper>